In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [9]:
movies=pd.read_csv("tmdb/10000 Movies Data")
credits=pd.read_csv('tmdb/10000 Credits Data')

In [10]:
credits.head()

,Unnamed: 0,Movie_id,title,Cast,Crew
0,0,238,The Godfather,"[{'adult': False, 'gender': 2, 'id': 3084, 'kn...","[{'adult': False, 'gender': 2, 'id': 154, 'kno..."
1,1,278,The Shawshank Redemption,"[{'adult': False, 'gender': 2, 'id': 504, 'kno...","[{'adult': False, 'gender': 2, 'id': 153, 'kno..."
2,2,240,The Godfather Part II,"[{'adult': False, 'gender': 2, 'id': 1158, 'kn...","[{'adult': False, 'gender': 2, 'id': 154, 'kno..."
3,3,19404,Dilwale Dulhania Le Jayenge,"[{'adult': False, 'gender': 2, 'id': 35742, 'k...","[{'adult': False, 'gender': 1, 'id': 8311, 'kn..."
4,4,424,Schindler's List,"[{'adult': False, 'gender': 2, 'id': 3896, 'kn...","[{'adult': False, 'gender': 2, 'id': 491, 'kno..."

In [11]:
credits=credits.drop("title",axis=1)

In [12]:
movies=movies.merge(credits,on='Movie_id')

In [13]:
movies.head(1)

,Unnamed: 0_x,Movie_id,title,Genres,release_date,Keywords,overview,poster_path,Budget,Revenue,popularity,vote_average,vote_count,Unnamed: 0_y,Cast,Crew
0,0,238,The Godfather,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",1972-03-14,"[{'id': 131, 'name': 'italy'}, {'id': 697, 'na...","Spanning the years 1945 to 1955, a chronicle o...",/3bhkrj58Vtu7enYsRolD1fZdja1.jpg,245066411,245066411,93.552,8.7,16814,0,"[{'adult': False, 'gender': 2, 'id': 3084, 'kn...","[{'adult': False, 'gender': 2, 'id': 154, 'kno..."

In [14]:
movies=movies[['Movie_id','title','Genres',"Keywords",'overview','Cast','Crew']]

In [15]:
movies.isnull().sum()

Movie_id    0
title       0
Genres      0
Keywords    0
overview    6
Cast        0
Crew        0
dtype: int64

In [16]:
movies.dropna(inplace=True)

In [17]:
movies.isnull().sum()

Movie_id    0
title       0
Genres      0
Keywords    0
overview    0
Cast        0
Crew        0
dtype: int64

In [18]:
movies.duplicated().sum()

0

In [19]:
import ast
ast.literal_eval

In [20]:
movies.head()

,Movie_id,title,Genres,Keywords,overview,Cast,Crew
0,238,The Godfather,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...","[{'id': 131, 'name': 'italy'}, {'id': 697, 'na...","Spanning the years 1945 to 1955, a chronicle o...","[{'adult': False, 'gender': 2, 'id': 3084, 'kn...","[{'adult': False, 'gender': 2, 'id': 154, 'kno..."
1,278,The Shawshank Redemption,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...","[{'id': 378, 'name': 'prison'}, {'id': 417, 'n...",Framed in the 1940s for the double murder of h...,"[{'adult': False, 'gender': 2, 'id': 504, 'kno...","[{'adult': False, 'gender': 2, 'id': 153, 'kno..."
2,240,The Godfather Part II,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...","[{'id': 131, 'name': 'italy'}, {'id': 700, 'na...",In the continuing saga of the Corleone crime f...,"[{'adult': False, 'gender': 2, 'id': 1158, 'kn...","[{'adult': False, 'gender': 2, 'id': 154, 'kno..."
3,19404,Dilwale Dulhania Le Jayenge,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",[],"Raj is a rich, carefree, happy-go-lucky second...","[{'adult': False, 'gender': 2, 'id': 35742, 'k...","[{'adult': False, 'gender': 1, 'id': 8311, 'kn..."
4,424,Schindler's List,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...","[{'id': 818, 'name': 'based on novel or book'}...",The true story of how businessman Oskar Schind...,"[{'adult': False, 'gender': 2, 'id': 3896, 'kn...","[{'adult': False, 'gender': 2, 'id': 491, 'kno..."

In [21]:
def convert(obj):
    L =[]
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [22]:
movies['Genres'] = movies['Genres'].apply(convert)
movies.head()

,Movie_id,title,Genres,Keywords,overview,Cast,Crew
0,238,The Godfather,"[Drama, Crime]","[{'id': 131, 'name': 'italy'}, {'id': 697, 'na...","Spanning the years 1945 to 1955, a chronicle o...","[{'adult': False, 'gender': 2, 'id': 3084, 'kn...","[{'adult': False, 'gender': 2, 'id': 154, 'kno..."
1,278,The Shawshank Redemption,"[Drama, Crime]","[{'id': 378, 'name': 'prison'}, {'id': 417, 'n...",Framed in the 1940s for the double murder of h...,"[{'adult': False, 'gender': 2, 'id': 504, 'kno...","[{'adult': False, 'gender': 2, 'id': 153, 'kno..."
2,240,The Godfather Part II,"[Drama, Crime]","[{'id': 131, 'name': 'italy'}, {'id': 700, 'na...",In the continuing saga of the Corleone crime f...,"[{'adult': False, 'gender': 2, 'id': 1158, 'kn...","[{'adult': False, 'gender': 2, 'id': 154, 'kno..."
3,19404,Dilwale Dulhania Le Jayenge,"[Comedy, Drama, Romance]",[],"Raj is a rich, carefree, happy-go-lucky second...","[{'adult': False, 'gender': 2, 'id': 35742, 'k...","[{'adult': False, 'gender': 1, 'id': 8311, 'kn..."
4,424,Schindler's List,"[Drama, History, War]","[{'id': 818, 'name': 'based on novel or book'}...",The true story of how businessman Oskar Schind...,"[{'adult': False, 'gender': 2, 'id': 3896, 'kn...","[{'adult': False, 'gender': 2, 'id': 491, 'kno..."

In [23]:
movies['Keywords']=movies['Keywords'].apply(convert)

In [24]:
def convert3(obj):
    L =[]
    counter=0
    for i in ast.literal_eval(obj):
        if counter !=3:
            L.append(i['name'])
            counter+=1
    return L

In [25]:
movies['Cast']=movies['Cast'].apply(convert3)

In [28]:
def fetch_directer(obj):
    L =[]
    for i in ast.literal_eval(obj):
        if i['job']=="Director":
            L.append(i['name'])
            break
    return L

In [29]:
movies['Crew']=movies['Crew'].apply(fetch_directer)
movies['overview']=movies['overview'].apply(lambda x: x.split())

In [31]:
#remove space in between two worrds
movies['Genres']=movies['Genres'].apply(lambda x : [i.replace(" ","")for i in x])
movies['Keywords']=movies['Keywords'].apply(lambda x : [i.replace(" ","")for i in x])
movies['Cast']=movies['Cast'].apply(lambda x : [i.replace(" ","")for i in x])
movies['Crew']=movies['Crew'].apply(lambda x : [i.replace(" ","")for i in x])

In [33]:
movies['tags']= movies['Genres'] + movies['Keywords'] + movies['Cast'] + movies['Crew'] + movies['overview']

The history saving thread hit an unexpected error (OperationalError('database or disk is full')).History will not be written to the database.

In [35]:
#fetch three columns from dataframe
new_df = movies[['Movie_id','title','tags']]
#convert list into string and make those lower case
new_df['tags']=new_df['tags'].apply(lambda x: " ".join(x))
new_df['tags']=new_df['tags'].apply(lambda x: x.lower())

In [36]:
new_df.head()

,Movie_id,title,tags
0,238,The Godfather,drama crime italy lossoflovedone loveatfirstsi...
1,278,The Shawshank Redemption,drama crime prison corruption policebrutality ...
2,240,The Godfather Part II,drama crime italy italianamerican cuba symboli...
3,19404,Dilwale Dulhania Le Jayenge,comedy drama romance shahrukhkhan kajol amrish...
4,424,Schindler's List,drama history war basedonnovelorbook factory c...

In [38]:
import nltk
nltk.download('wordnet')
from nltk.stem import PorterStemmer,WordNetLemmatizer
ps=PorterStemmer()
wnl = WordNetLemmatizer()

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\svaru\AppData\Roaming\nltk_data...

In [39]:
def steam(text):
    y=[]
    for i in text.split():
        y.append (ps.stem(i))
    return " ".join(y)

def lemmi(text):
    y=[]
    for i in text.split():
        y.append (ps.wnl(i))
    return " ".join(y)

In [42]:
#lemmitization
new_df['tags1']=new_df['tags'].apply(steam)
#porter_steammer
new_df['tags']=new_df['tags'].apply(steam)

In [44]:
#take 50000 feathures using features extraction
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

In [48]:
#CounterVectorizer or Bag of word with porterSteamer
CV= CountVectorizer(max_features=8000, stop_words="english")
vector=CV.fit_transform(new_df['tags']).toarray()
#check random features name
CV.get_feature_names_out()[1002]

'broadway'

In [47]:
#TFIDF with lemmitization
tfidf=TfidfVectorizer(max_features=7000,analyzer='word',stop_words="english")
tfdf_features=tfidf.fit_transform(new_df['tags1'])
tfidf.get_feature_names_out()[1002]

'carri'

In [49]:
from sklearn.metrics.pairwise import cosine_similarity

In [54]:
similarity=cosine_similarity(vector)
new_df[new_df['title']=='Avatar'].index[0]

0

In [51]:
#give every movie index number details is comming
sorted(list(enumerate(similarity[0])), reverse=True, key=lambda x : x[1])[1:6] # key define second column basis sort

[(2, 0.36742346141747667),
 (1633, 0.3468909530866052),
 (8734, 0.3099652099390333),
 (4305, 0.2921532737340715),
 (1561, 0.28867513459481287)]

In [52]:
#Apply cosine similarity with tfIDF
tfdf_similarity=cosine_similarity(tfdf_features)